@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


html, body {margin:0;padding:0;height:100%;}
.app{
    font-family: 'Montserrat' ;
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#root {
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
html { height: 100%; }
body { min-height: 100%!important;
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44);}

.navy{
    background-color: #051923;
}
.btn{
    border-radius: 0px!important;
    background-color: #051923;
    color: #00A6FB;
}
.btn:hover{
    background-color:white!important;
    color: #00A6FB!important;
}
.form-control{
    border-radius: 0px!important;
}
/* Absolute Center Spinner */
.loader {
    /*filter: blur(15px);*/
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
#goo-loader{
    width: 100px;
}

/*.input-field>label{*/
/*    color: antiquewhite!important;*/
/*}*/
.select-wrapper input.select-dropdown{
    color: white!important;
    border-bottom: 1px solid white!important;
}
.normal{
    filter: blur(0px)!important;
}
input[type=radio] {
    margin-right: 2rem;
}
#graph-id1-graph-wrapper{
    border: 2px solid #051923!important;
}
#graph-id2-graph-wrapper{
    border: 2px solid #051923!important;

}
#graph-id3-graph-wrapper{
    border: 2px solid #051923!important;

}
.card{
    border-radius: 0px!important;
}
.list-group-item{
    border-radius: 0px!important;
}

.modal-content{
    border-radius: 0px!important;
}
.card-title{
    color: white;
    background-color: rgba(0, 0, 10, 0.3);

    padding: 5px!important;
}
/*.parent{*/

/*    position: relative;*/
/*    height: 100px;*/
/*    width: 100px;*/

/*}*/
/*.inner{*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    background-color: red;*/
/*    filter: blur(3px);*/
/*    z-index: -1;*/

/*}*/
/*!* Transparent Overlay *!*/
/*.loader:before {*/
/*    content: '';*/
/*    display: block;*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;    backdrop-filter: saturate(180%) blur(20px);*/

/*    width: 100%;*/
/*    height: 100%;*/
/*    background-color: rgba(0,0,0,0.3);*/
/*}*/

/*!* :not(:required) hides these rules from IE9 and below *!*/
/*.loader:not(:required) {*/
/*    !* hide "loading..." text *!*/
/*    font: 0/0 a;*/
/*    color: transparent;*/
/*    text-shadow: none;*/
/*    background-color: transparent;*/
/*    border: 0;*/
/*}*/

/*svg{*/
/*    height: 100%;*/
/*}*/

/*svg:before{*/

/*}*/