.sidePanel{
    width: 5%;
    background-color:  #F9785A;
    height: 100vh;
    margin-top: -3rem;
    flex: 0.5;

}
.sidePanel:hover{
    transition: width 1s ease-in-out;
    width: 20%;
}
.hover-tab:hover{
    background-color: #FF9C85;
}
.hover-tab{
    text-align: center;
}
.navBar{
    background-color: #991F02;
}
.mainPanel{
    width: 80%;
    background-color: white;
    height: 100vh;
    flex: 2;
}
.container-flex{
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: stretch;
    align-items: stretch;
}
.hide-register{
    display: none;
}
.multi-step{
   display: flex;
    flex-flow: column;
    align-items: center;

}
.multi-step-input{
    vertical-align: middle;
    margin: 5px 10px 5px 0px;
}
.multi-step-label{
    margin: 5px 10px 5px 0px;

}